<%- include('header'); -%>

<h2> Create a new poll </h2>

  <form class="form-createPoll" method="POST" action="/createpoll">

    <div class="form-label-group">
      <label for="inputTitle">Title:</label>
      <input type="text" lass="form-control" id="inputTitle" name="inputTitle" placeholder="title" name="title"/>
    </div>

    <div class="form-label-group">
	<label for="inputOptions">Options (separated by line):</label>
	<textarea class="form-control" name="inputOptions"></textarea>
    </div>

  </br>

    <button class="btn btn-primary"type="submit">Create Poll</button>

  </form>

<%- include('footer'); -%>
